/* CSSリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: navy; /* 背景色を紺色に */
    color: white; /* 文字を白色に */
}

#number {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20em;
    margin: 20px;
    color: white; /* 数字の色を白に */
    margin-top: 100px; /* 少し下に移動させる */
}




.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 400px; /* 履歴の幅に合わせてコンテナの位置を調整 */
}

.container h1{
    font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#history {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px; /* 枠の幅を2倍に（400pxに） */
    height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

#history h2 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    position: sticky;
    top: 0;
    background-color: #f4f4f4;
    color:black
}

#history-content {
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    margin-top: 10px;
    color: black;
}

.history-line {
    margin: 5px 0;
}

.history-item {
    font-weight: bold;
    display: inline-block;
    width: 3em; /* 幅はそのまま */
    text-align: center;
    font-size: 1.3em; /* 数字のサイズを倍に */
}




button {
    font-size: 1.2em;
    padding: 10px 20px;
    font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 50px; /* 角を丸くする */
}





/* #number 要素の影のアニメーション */
@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

#number.fade-out {
    animation: fadeOutAnimation 1s forwards; /* 1秒でアニメーション完了 */
}

